.footer-section {
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px solid white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.footer-contact {
    color: black;
    height: 100%;
    background-color: #F5F7FA;
    padding-left: 32px;
}



.footer-logo {
    height: 100%;
    background-color: #F5F7FA;
    align-content: center;
    text-align: center;
}

.footer-logo img{
    height: 120px;
    width: 145px;
}
.footer-social {
    height: 100%;
    background-color: #F5F7FA;
}

/* Mobil */
@media (max-width: 768px) {
    .footer-section {
        display: block;
        height: auto;
        padding: 16px;
    }

    .footer-contact,
    .footer-logo,
    .footer-social {
        height: auto;
        padding: 16px;
        text-align: center;
    }

    .footer-logo img {
        height: 80px;
        width: auto;
    }

    .footer-contact {
        padding-left: 0; /* fjernelse af padding fra venstre side*/
    }
}