.footer-section {
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.footer-contact {
    color: white;
    height: 100%;
    background-color: #1E2A38;
}

.footer-logo {
    height: 100%;
    background-color: #1E2A38;
}

.footer-social {
    height: 100%;
    background-color: #1E2A38;
}