/* === Global styles === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

body {
    overflow-y: scroll;
}

/* === Layout structure === */
section {
    height: 100vh; /* Each section takes up full viewport height */
    scroll-snap-align: start;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* === Hero Section === */


/* Hero Section - Der hvor videoen afspilles*/

.hero-section {
    position: relative;
    height: 20vh;
    overflow: hidden;
}

/* Undertag på video som styler den til at fylde siden */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* undertag til at styre hero-text*/

.overlay-text {
    position: absolute;
    top: 40%; /* justeret text boksen ned i section ifh video */
    left: 25%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0);
    color: #020000;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    max-width: 90%;
}

/* tekst størrelse styres af det her i catch phrase*/
.overlay-text h1 {
    font-size: 2.5em;
}